html,
body {
   margin: 0;
   padding: 0;
}

.row-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
}

.cell {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}